header {
	z-index: 999;
	padding: 0.5em 1em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	/* display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr; */
	align-items: center;

	color: var(--white);
	background-color: var(--black);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header h1 {
	margin: 0;
}

header #options {
	/* grid align */
	/* justify-self: flex-end; */

	display: flex;
	align-items: center;
}
header #options #checkbox-alternance {
	color: #000;
	background-color: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 4px;
	margin-left: 0.5em;
	padding: 7.5px;
	cursor: pointer;
	min-width: max-content;
}

header #options #checkbox-alternance input {
	vertical-align: bottom;
	margin-left: 0;
	margin-right: 0.5em;
}

.select {
	width: fit-content;
	color: #000;
	margin-left: 0.5em;
}

label:has(input:disabled) {
	color: rgb(153, 153, 153);
}

@media screen and (max-width: 630px) {
	header {
		flex-direction: column;
		align-items: center;
	}

	header #options {
		margin-top: 0.5em;
	}
}
